# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
.turbo/
.next/
out/
build/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Supabase / Local
airflow/logs/*
GEMINI.md