version: '3.8'

services:
  # 1. Local Database
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: rafay
      POSTGRES_PASSWORD: rafay
      POSTGRES_DB: game_analytics
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 2. The Core Backend
  api:
    build: 
      context: .
      dockerfile: apps/api/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://rafay:rafay@db:5432/game_analytics
    depends_on:
      - db
    volumes:
      - ./apps/api:/app # Hot reloading for Python code
      - ./packages/game_library:/packages/game_library # Mount library for easier dev

  # 3. The Faker Service (Internal Worker)
  faker:
    build: 
      context: .
      dockerfile: apps/faker/Dockerfile
    environment:
      - API_URL=http://api:8000/internal/ingest
    depends_on:
      - api
    volumes:
      - ./apps/faker:/app
      - ./packages/game_library:/packages/game_library

  # 4. The Frontend Dashboard (Streamlit)
  web:
    build: 
      context: .
      dockerfile: apps/web/Dockerfile
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api
    volumes:
      - ./apps/web:/app # Hot reloading for Streamlit
      - ./packages/game_library:/packages/game_library

volumes:
  postgres_data: