services:
  # 1. Local Database
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: rafay
      POSTGRES_PASSWORD: rafay
      POSTGRES_DB: game_analytics
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 2. Zookeeper
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  # 3. Kafka Broker
  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  # 4. The Core Backend (Consumer + API)
  api:
    build: 
      context: .
      dockerfile: apps/api/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql+asyncpg://rafay:rafay@db:5432/game_analytics
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
    depends_on:
      - db
      - kafka
    volumes:
      - ./apps/api:/app # Hot reloading for Python code
      - ./packages/game_library:/packages/game_library

  # 5. The Faker Service (Producer)
  faker:
    build: 
      context: .
      dockerfile: apps/faker/Dockerfile
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
    depends_on:
      - kafka
    volumes:
      - ./apps/faker:/app
      - ./packages/game_library:/packages/game_library

  # 6. The Frontend Dashboard (Streamlit Consumer)
  web:
    build: 
      context: .
      dockerfile: apps/web/Dockerfile
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
    depends_on:
      - api
      - kafka
    volumes:
      - ./apps/web:/app # Hot reloading for Streamlit
      - ./packages/game_library:/packages/game_library

volumes:
  postgres_data:
