version: '3.8'

services:
  # 1. Local Database
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: rafay
      POSTGRES_PASSWORD: rafay
      POSTGRES_DB: game_analytics
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 2. The Core Backend
  api:
    build: ./apps/api
    ports:
      - "8000:8000"
    environment:
      # Using local DB connection string
      - DATABASE_URL=postgresql+asyncpg://rafay:rafay@db:5432/game_analytics
    depends_on:
      - db
    volumes:
      - ./apps/api:/app # Hot reloading for Python

  # 3. The Faker Service (Internal Worker)
  faker:
    build: ./apps/faker
    environment:
      - API_URL=http://api:8000/internal/ingest
    depends_on:
      - api

  # 4. The Frontend Dashboard (Streamlit)
  web:
    build: ./apps/web
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api
    volumes:
      - ./apps/web:/app # Hot reloading for Streamlit

volumes:
  postgres_data:
